.container {
  display: flex;
  flex-direction: row;
}

.contact-section {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  flex: 0 0 25vw;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}

/* USER */

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-status {
  display: flex;
  margin: 0.5rem 1rem;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.user-info {
  align-items: flex-start;
  margin-left: 1rem;
  line-height: 50%;
}

.user-info h3 {
  margin-top: 15px;
}

.menu-icons {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.menu-icons i {
  color: #828485;
  padding-left: 15px;
}

/* NEW CHAT BUTTON */
.new-chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}

.btn {
  padding: 1rem 4rem;
  background-color: #a491d2;
  color: #fff;
  border-style: none;
}

.btn:hover {
  background-color: #cdc3e6;
}

.btn:focus {
  background-color: #bec1bb;
}

/* PROFILE THUMBNAILS */

.tiny-thumbnail {
  border-radius: 50%;
  height: 60px;
}

.normal-thumbnail {
  border-radius: 50%;
  height: 55px;
}

/* CHATS SECTION */
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
}

.contact-chat {
  margin-left: 1rem;
  line-height: 0.4rem;
}

/* MAIN SECTION */

.main-section {
  font-family: "Oxygen", sans-serif;
  display: flex;
  flex: 0 0 75vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e8ebe4;
}

.logo {
  max-height: 20%;
}

.main-section p {
  text-align: center;
  width: 50%;
}

/* FONTS SIZE */

.xsmall-text {
  font-size: 12px;
  color: #828485;
}

.small-font {
  font-size: 14px;
}

.medium-font {
  font-size: 16px;
}

.large-font {
  font-size: 45px;
}

/* GRAY BORDER */

.bottom-border-gray {
  border-bottom: solid 2px #e8ebe4;
}

@media only screen and (max-width: 1280px) {
  .contact-section {
    flex: 0 0 40vw;
  }

  .main-section {
    flex: 0 0 60vw;
  }
}

@media only screen and (max-width: 768px) {
  .contact-section {
    flex: 0 0 50vw;
  }

  .main-section {
    flex: 0 0 50vw;
  }

  .main-section h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .contact-section {
    flex: 0 0 100vw;
  }

  .main-section {
    display: none;
  }
}
